{% load static %}

<a href="#" class="text-decoration-none text-dark">
  <div class="col h-100">
    <div class="card h-100 d-flex flex-column shadow">
      <img src="{% static 'customer_products_images/dummy.jpg' %}" 
           class="card-img-top" alt="{{ product.product_name }}">
      <div class="card-body flex-grow-1 d-flex flex-column">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p class="card-text flex-grow-1">{{ product.description|truncatechars:150 }}</p>
      </div>
      <div class="card-footer text-start bg-white border-top-0">
        <strong class="text-primary fs-5">{{ product.price }} kr.</strong>
      </div>
    </div>
  </div>
</a>
